<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" 
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <!--
    Configuración Maven ordenador personal ELSUPER
  -->
  <localRepository>E:/des/data/mvnrepo</localRepository>
  
  <pluginGroups>
  </pluginGroups>
  
  <proxies>
  </proxies>
  
  <servers>
    <!-- Repositorios de Nexus en local para el curso de Maven de Udemy -->
    <server>
      <id>nexus-snapshot</id>
      <username>admin</username>
      <password>{3YgFZpovU6oH32JEWNfXarmzNYbSxsEDcKzrmTN6DnQ=}</password>
    </server>
    <server>
      <id>nexus-release</id>
      <username>admin</username>
      <password>{3YgFZpovU6oH32JEWNfXarmzNYbSxsEDcKzrmTN6DnQ=}</password>
    </server>
     <server>
       <!-- Este server es importante para poder acceder al repo mirror de Nexus -->
      <id>central</id>
      <username>admin</username>
      <password>{3YgFZpovU6oH32JEWNfXarmzNYbSxsEDcKzrmTN6DnQ=}</password>
    </server>
    <!--Repositorio Maven de Oracle que usa autenticacion -->
    <server>
      <id>maven.oracle.com</id>
      <username>juanfco.ruiz@gmail.com</username>
      <password>{uQ61unZdE8cH3hL29/TQADXE/QmWaNNnxQ+KTKCGh/Q=}</password>
      <configuration>
        <basicAuthScope>
          <host>ANY</host>
          <port>ANY</port>
          <realm>OAM 11g</realm>
        </basicAuthScope>
        <httpConfiguration>
          <all>
            <params>
              <property>
                <name>http.protocol.allow-circular-redirects</name>
                <value>%b,true</value>
              </property>
            </params>
          </all>
        </httpConfiguration>
      </configuration>
    </server>
    <!--Repositorios de Package Cloud para el curso de Maven de Udemy -->
    <server>
      <id>packagecloud-hamfree.release</id>
      <password>{n0wEKw92He0H6S3t8SPa0Gm05+il1xdSRONfFgP15TgEppSscLveLMJRZFL7q5bfSxLecOCtRHPAhKlhoCtP4rwdawNKZGzJvN0NDzYRyy8=}</password>
    </server>
    <server>
      <id>packagecloud-hamfree.snapshot</id>
      <password>{n0wEKw92He0H6S3t8SPa0Gm05+il1xdSRONfFgP15TgEppSscLveLMJRZFL7q5bfSxLecOCtRHPAhKlhoCtP4rwdawNKZGzJvN0NDzYRyy8=}</password>
    </server>
  </servers>
  
  <mirrors>
    <mirror>
      <id>central</id>
      <name>central</name>
      <url>http://localhost:8081/repository/nexus-group/</url>
      <mirrorOf>*</mirrorOf>
    </mirror>
  </mirrors>
  
  <profiles>
    
  </profiles>
  <activeProfiles>
    
  </activeProfiles>
</settings>
