# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
github-ssh-key.ppk

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
nbactions.xml
/Importacsv/target/
/Importacsv/nbproject/
/Importacion Municipios/nbproject/private/
Importacsv/.classpath
Importacsv/.project
Importacsv/ccaa.log.0
Importacsv/municipio.log.**
Importacsv/pruebas.log.0
Importacsv/pruebas.log.0.1
Importacsv/pruebas.log.0.2
Importacsv/pruebas.log.0.3
Importacsv/.settings/org.eclipse.core.resources.prefs
Importacsv/.settings/
Importacsv/nbactions-elsuper-profile.xml
Importacsv/nbactions-filemon-profile.xml
Importacsv/nb-configuration.xml
/Trampas de Java/nbproject/private/
/PruebasEnCgi/nbproject/private/