<?xml version="1.0" encoding="UTF-8"?>
<Server port="8005"
        shutdown="SHUTDOWN">
	<Listener className="org.apache.catalina.startup.VersionLoggerListener"/>
	<Listener SSLEngine="on"
	          className="org.apache.catalina.core.AprLifecycleListener"/>
	<Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener"/>
	<Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener"/>
	<Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener"/>
	<GlobalNamingResources>
		<Resource auth="Container"
		          driverClassName="com.mysql.cj.jdbc.Driver"
		          maxIdle="30"
		          maxTotal="100"
		          maxWaitMillis="10000"
		          name="jdbc/seguridad"
		          password="DauyxaDeGydYVhSyKx9t"
		          type="javax.sql.DataSource"
		          url="jdbc:mysql://localhost:3306/tomcat?zeroDateTimeBehavior=CONVERT_TO_NULL"
		          username="tomcat"/>
	</GlobalNamingResources>
	<Service name="192.168.100.252">
		<Connector URIEncoding="UTF-8"
		           address="192.168.100.252"
		           connectionTimeout="20000"
		           disableUploadTimeout="false"
		           maxPostSize="-1"
		           port="8080"
		           protocol="org.apache.coyote.http11.Http11Nio2Protocol"
		           redirectPort="8443"/>
		<Connector SSLEnabled="true"
		           maxThreads="150"
		           port="8443"
		           protocol="org.apache.coyote.http11.Http11Nio2Protocol">
			<UpgradeProtocol className="org.apache.coyote.http2.Http2Protocol"/>
			<SSLHostConfig>
				<Certificate certificateKeystoreFile="conf/ssl/tomcat.jks"
				             certificateKeystoreType="JKS"
				             certificateKeystorePassword="tomcat"
				             type="RSA"/>
			</SSLHostConfig>
		</Connector>
		<Engine defaultHost="192.168.100.252"
		        name="192.168.100.252">
			<Realm className="org.apache.catalina.realm.LockOutRealm">
				<Realm className="org.apache.catalina.realm.DataSourceRealm"
				       dataSourceName="jdbc/seguridad"
				       roleNameCol="role_name"
				       userCredCol="user_pass"
				       userNameCol="user_name"
				       userRoleTable="user_roles"
				       userTable="users">
                </Realm>
			</Realm>
			<Host appBase="webapps"
			      autoDeploy="true"
			      name="192.168.100.252"
			      unpackWARs="true">
				<Valve className="org.apache.catalina.valves.AccessLogValve"
				       directory="logs"
				       pattern="%h %l %u %t &quot;%r&quot; %s %b"
				       prefix="access_log"
				       suffix=".log"/>
			</Host>
		</Engine>
	</Service>
</Server>