<?xml version="1.0" encoding="UTF-8"?>
<Server port="8005" shutdown="SHUTDOWN">
    <!-- TomEE plugin for Tomcat -->
    <Listener className="org.apache.tomee.catalina.ServerListener" />
    <Listener className="org.apache.catalina.startup.VersionLoggerListener" />
    <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener" />
    <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />
    <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener" />
    <Listener className="org.apache.catalina.core.AprLifecycleListener" SSLEngine="on" />
    <GlobalNamingResources>
        <Resource auth="Container" driverClassName="com.mysql.cj.jdbc.Driver" 
                  maxIdle="30" maxTotal="100" 
                  maxWaitMillis="10000" name="jdbc/seguridad" 
                  password="DauyxaDeGydYVhSyKx9t" type="javax.sql.DataSource" 
                  username="tomcat" url="jdbc:mysql://localhost:3306/tomcat?zeroDateTimeBehavior=CONVERT_TO_NULL" />
    </GlobalNamingResources>
    <Service name="tomee">
        <Connector port="8080" protocol="org.apache.coyote.http11.Http11Nio2Protocol" 
                   maxPostSize="-1" disableUploadTimeout="false" 
                   connectionTimeout="20000" redirectPort="8443" 
                   URIEncoding="UTF-8" />

        <Connector port="8443" protocol="org.apache.coyote.http11.Http11AprProtocol"
                   maxThreads="150" SSLEnabled="true" >
            <UpgradeProtocol className="org.apache.coyote.http2.Http2Protocol"  />
            <SSLHostConfig>
                <Certificate certificateKeyFile="conf/ssl/CA.key"
                             certificateFile="conf/ssl/CA.pem"
                             certificateChainFile="conf/ssl/tomcat.cer"
                             type="RSA" />
            </SSLHostConfig>
        </Connector>
        <Engine defaultHost="localhost" name="tomee">
            <Realm className="org.apache.catalina.realm.LockOutRealm">
                <Realm className="org.apache.catalina.realm.DataSourceRealm" dataSourceName="jdbc/seguridad" 
                       roleNameCol="role_name" userCredCol="user_pass" 
                       userNameCol="user_name" userRoleTable="user_roles" 
                       userTable="users">
                </Realm>
            </Realm>
            <Host name="localhost" appBase="webapps" 
                  autoDeploy="true" unpackWARs="true">
                <Valve className="org.apache.catalina.valves.AccessLogValve" directory="logs" 
                       pattern="%h %l %u %t &quot;%r&quot; %s %b" prefix="localhost_access_log" 
                       suffix=".txt" />
            </Host>
        </Engine>
    </Service>
</Server>