<?xml version="1.0" encoding="UTF-8"?>

<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
	<!--
	<localRepository>C:/des/data/m2</localRepository>
	-->
	<pluginGroups>
		<!-- <pluginGroup>com.your.plugins</pluginGroup> -->
	</pluginGroups>

	<proxies>
		<!-- <proxy> <id>optional</id> <active>true</active> <protocol>http</protocol> 
			<username>proxyuser</username> <password>proxypass</password> <host>proxy.host.net</host> 
			<port>80</port> <nonProxyHosts>local.net|some.host.com</nonProxyHosts> </proxy> -->
	</proxies>

	<servers>
		<server>
			<id>maven.oracle.com</id>
			<username>juanfco.ruiz@gmail.com</username>
			<password>{EEUZyiTNLrQHVtpfl7TiCs2LFGKwcJnu6aMHgfAuwB4=}</password>
			<configuration>
				<basicAuthScope>
					<host>ANY</host>
					<port>ANY</port>
					<realm>OAM 11g</realm>
				</basicAuthScope>
				<httpConfiguration>
					<all>
						<params>
							<property>
								<name>http.protocol.allow-circular-redirects</name>
								<value>%b,true</value>
							</property>
						</params>
					</all>
				</httpConfiguration>
			</configuration>
		</server>
	</servers>

	<mirrors>
		<!-- <mirror> <id>mirrorId</id> <mirrorOf>repositoryId</mirrorOf> <name>Human 
			Readable Name for this Mirror.</name> <url>http://my.repository.com/repo/path</url> 
			</mirror> -->
	</mirrors>

	<profiles>
		<profile>
			<id>oracle</id>
			<activation>
				<jdk>1.8</jdk>
			</activation>
			<repositories>
				<repository>
					<id>maven.oracle.com</id>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<url>https://maven.oracle.com</url>
					<layout>default</layout>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>maven.oracle.com</id>
					<url>https://maven.oracle.com</url>
				</pluginRepository>
			</pluginRepositories>
		</profile>
		<profile>
		    <id>central</id>
			<activation>
				<activeByDefault>true</activeByDefault>
			</activation>
			<repositories>
				<repository>
					<id>central</id>
					<name>Central Repository</name>
					<url>https://repo.maven.apache.org/maven2</url>
					<layout>default</layout>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
			</repositories>

			<pluginRepositories>
				<pluginRepository>
					<id>central</id>
					<name>Central Repository</name>
					<url>https://repo.maven.apache.org/maven2</url>
					<layout>default</layout>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<releases>
						<updatePolicy>never</updatePolicy>
					</releases>
				</pluginRepository>
			</pluginRepositories>

		</profile>
	</profiles>

	<activeProfiles>
		<activeProfile>central</activeProfile>
	</activeProfiles>
</settings>
